
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
}

body {
  background-color: var(--bg_body);
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  margin: 0px 4%;
}

.header {
  padding: 18.5px 0px;
  background-color: var(--bg_default);
  box-shadow: 0px 0px 20px -10px var(--body-text);
  z-index: 10;
  position: sticky;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 16px;
  color: var(--brand-primary);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  gap: 5px;
}

.icon-button {
  color: var(--body-text);
  font-weight: 400;
  font-size: 14.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--lines-color);
  border-radius: 5px;
  padding: 6px 9px;
  background-color: var(--bg_default);
  cursor: pointer;
}

.icon-button:hover {
  transition: backgroundall;
  background-color: var(--body-text);
  color: var(--lines-color);
}

.nav-icon {
  margin-right: 6px;
}


.welcome-section {
  width: 100%;
  height: 114px;
  background-color: var(--bg_default);
  position: relative;

}


.triangles {

  height: 4.7vw;
  position: relative;
  overflow: hidden;
}

.blue-triangle,
.green-triangle {
  height: 100%;
  position: absolute;
  top: 0;
  width: 90%;
}

.blue-triangle {
  background-image: linear-gradient(to right, var(--brand-primary), var(--brand-secondary));
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  left: 0;
}

.green-triangle {
  background-color: var(--brand-secondary);
  clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
  right: 0;
}

.welcome {
  margin-top: -20px;
  display: flex;
  justify-content: center;
  font-weight: 700;
 
}

.welcome-header {
  color: var(--brand-secondary);
  font-size: 21px;
  margin-bottom: -3px;
}

.brief-desc {
  font-size: 15px;
  color: var(--body-text);
}

.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

/* ion icon heart */
.red-heart {
  font-size: 24px;
  color: var(--heart-color);
  fill: var(--heart-color);
}

.rate-star {
  margin: -2px;
  color: var(--gold);
  fill: var(--gold);
}

::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
  background-color: #ddd;
}

@media (max-width: 768px) {

  .icon-button {
    padding: 4px 8px;
  }

  .icon-button .nav-button-text {
    font-size: 0px;
  }

  .icon-button .nav-icon {
    margin: 0px;
  }

  .triangles {
    height: 25%;
  }

  .welcome {
    margin: 5px 15px;
  }

  .brief-desc {
    font-size: 14px;
  }
}

/* Media query for between 769px - 999px */
@media only screen and (min-width: 769px) and (max-width: 999px) {

  .icon-button {
    padding: 7px 11px;
  }

  .icon-button .nav-button-text {
    font-size: 14px;
  }

  .icon-button .nav-icon {
    margin-right: 6px;
  }

  .triangles {
    height: 68px;
  }

  .welcome {
    margin-top: -20px;
  }

  .brief-desc {
    font-size: 15px;
  }
}

@media (min-width: 1000px) and (max-width: 1250px) {

  .icon-button {
    padding: 7px 11px;
  }

  .icon-button .nav-button-text {
    font-size: 14px;
  }

  .icon-button .nav-icon {
    margin-right: 6px;
  }

  .triangles {
    height: 68px;
  }

  .welcome {
    margin-top: -20px;
  }

  .brief-desc {
    font-size: 15px;
  }
}



.search-bar {
  color: var(--body-text);
  display: flex;
  background-color: var(--bg_default);
  box-shadow: 1px 1px 6px 1px var(--lines-color);
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search {
  
  display: flex;
  align-items: center;
  width: 93%;
  height: 47px;
  padding: 10px;
}

.search-icon {
  font-size: 17px;
  font-weight: lighter;
  margin-right: 5px;
}

.search input {
  background-color: var(--bg_default);
  width: 100%;
  padding: 0.6rem;
  border: none;
  font-size: 16px;
  font-weight: 400;
}

.search input:focus {
  outline: none;
}


.type-selector {
  display: flex;
  width: 35%;
  justify-content: space-around;
}

.options {
  display: flex;
  flex-direction: column;
  border-left: 1.5px solid var(--lines-color);
  padding: 3.5px 9px;
  width: 100%;
  padding-left: 10px;
  align-items: stretch;
}

.options label {
  font-size: 12px;
  padding-left: 4px;
}

.options select {
  background-color: var(--bg_default);
  color: var(--body-text);
  border: none;
  outline: none;
  font-size: 15px;

}

.options select:active {
  border: none;
}



.courses-number {
  color: var(--body-text);
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
}


.courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}


.course-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px 10px 5px 5px;
  background-color: var(--bg_default);
  box-shadow: 1px 1px 6px 1px var(--lines-color);
  text-decoration: none;
  cursor: pointer;
  height: 17.4rem;
}

.course-card img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 48%;
  object-fit: cover;
}

.course-card .card-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 53%;
  padding: 1rem;
}

.course-card .card-info .card-description {
  font-size: 13px;
  color: var(--body-text);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.course-card .card-info .card-description .web-course {
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.course-card .card-info .card-description .course-name {
  font-size: 15px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 43%;
}


.course-card .card-info .course-author {
  font-size: 13px;
  color: var(--body-text);
}

.course-card .stars {
  display: flex;
}

.course-card .stars .rate-star {
  margin: 0px;
}


.home-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg_body);
  height: 100px;
  width: 100%;
  font-weight: 700;
  color: var(--body-text);
}


@media (max-width: 768px) {
  .search {
    display: flex;
    align-items: center;
    width: 93%;
    height: 35px;
    margin: 7px;
  }

  .search-bar {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .type-selector {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-top: 1px solid var(--lines-color);
    padding: 0px 10px;
  }

  .options {
    display: flex;
    flex-direction: column;
    padding: 9px 6px;
    gap: 0px;
    width: 100%;
    margin-left: 0px;
  }

  .options label {
    font-size: 11px;
   
  }

  .options:first-child {
    border-left: 1 solid var(--lines-color);
    padding-right: 10px;
  }

}


 